{% extends "snippets/dashboard.html" %}

{% block table %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
        {% for key, value in table_headers.iteritems() %}
            <th>{{ key|e }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for item in table_items %}
            <tr>
                {% for key, value in table_headers.iteritems() %}
                <td class="data-item"><i class="iconfont">&#xe654;</i><span class=data-item-val>{% if key not in item.keys() %}null{% else %}{{ item[key][value] }}{% endif %}</span></td>
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<ul id="pagination-demo" class="pagination-sm"></ul>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/jquery.twbsPagination.min.js')}}"></script>
<script>
    $(document).ready(function(){
        $('#pagination-demo').twbsPagination({
            totalPages: 35,
            visiblePages: 7,
            onPageClick: function (event, page) {
                $('#page-content').text('Page ' + page);
            }
        });
    })
</script>
{% endblock %}