<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Dynamodb GUI</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/reset.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootflat.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">

    <style>
        body{
            background-color: rgb(241, 242, 246);
        }
        .console {
            height: 300px;
            color: #FFF;
            background-color: #434A54;
            overflow: auto;
        }

        .table-name>a{
            color: #656D78;
        }

        .sidebar {
            background-color: #E6E9ED;
            overflow:auto;
        }

        .operate-bar {
            margin:10px 0;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dynamodb GUI</a>
        </div>
        <!--<div id="navbar" class="navbar-collapse collapse">-->
        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Dashboard</a></li>-->
        <!--<li><a href="#">Settings</a></li>-->
        <!--<li><a href="#">Profile</a></li>-->
        <!--<li><a href="#">Help</a></li>-->
        <!--</ul>-->
        <!--<form class="navbar-form navbar-right">-->
        <!--<input type="text" class="form-control" placeholder="Search...">-->
        <!--</form>-->
        <!--</div>-->
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% for table in tables %}
                    <li class="table-name" ><a href="/table/{{table}}">{{ table }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <div class="panel panel-success">
                <div class="panel-heading">Data</div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="row form-bar">
                            <div class="col-xs-2 col-sm-2">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Index
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Table</a></li>
                                        <li><a href="#">email</a></li>
                                        <li><a href="#">company_id</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-5 col-sm-5">
                                <div class="form-group">
                                    <span>Hash Key:</span>
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="email">
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-5">
                                <div class="form-group">
                                    <span>Range Key:</span>
                                    <input type="text" class="form-control" id="exampleInputName2"
                                           placeholder="company_id">
                                </div>
                            </div>
                        </div>
                        <div class="row operate-bar">
                            <div class="col-xs-offset-9 col-xs-3 col-sm-offset-9 col-sm-3">
                                <button type="submit" class="btn btn-success">查询</button>
                                <button type="submit" class="btn btn-default">扫描</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                            {% for key, value in table_headers.iteritems() %}
                                <th>{{ key|e }}</th>
                            {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in table_items %}
                            <tr>
                                {% for key, value in table_headers.iteritems() %}
                                <th>{% if key not in item.keys() %}null{% else %}{{ item[key][value] }}{% endif %}</th>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-sm-7 col-sm-offset-2 col-md-7 col-md-offset-2">
            <div class="panel panel-success ">
                <div class="panel-heading">Console</div>
                <div class="panel-body console">
                    <ul>
                        <li>Scan table</li>
                        <li>Scan table</li>
                        <li>Scan table</li>
                        <li>Scan table</li>
                        <li>Scan table</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="panel panel-success info">
                <div class="panel-heading">详情</div>
                <div class="panel-body ">
                    <ul class="list-group">
                        <li class="list-group-item"><span>总数量:</span><strong>18232</strong></li>
                        <li class="list-group-item"><span>Stream信息:</span></li>
                        <li class="list-group-item"><span>Global Secondary Index:</span></li>
                        <li class="list-group-item"><span>Local Secondary Index:</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
