{% extends "snippets/dashboard.html" %}

{% block table %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
        {% for attribute in current_table.AttributeDefinitions %}
            <th>{{ attribute.AttributeName }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="data-item">
                    <i class="iconfont">&#xe654;</i>1,001
                </td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
            <tr>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
                <td class="data-item"><i class="iconfont">&#xe654;</i>1,001</td>
            </tr>
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}