{% extends "snippets/layout.html" %}

{% block stylesheet %}
<link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/bootstrap-select.min.css')}}" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="popover right" id="popover-panel">
    <div class="arrow"></div>
    <div class="popover-content">
        <textarea class="edit-item" id="edit-item" type="text"></textarea>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% for table in tables %}
                <li class="table-ele {% if table == table_name %}active{% endif %} clear">
                    <a class="table-name" href="/table/{{table}}"><i class="iconfont icon-table"></i>{{ table }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <div class="panel-group panel-group-lists" id="show">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#show" href="#data"><i
                                    class="iconfont icon-data"></i>数据</a>
                        </h4>
                    </div>
                    <div id="data" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="row form-bar">
                                <form id="query_form" class="form-inline" method="POST">
                                    <div class="col-xs-2 col-sm-2 select-wrapper">
                                        <select id="index-selector" class="selectpicker" data-style="btn-success">
                                            <option value="table">Table</option>
                                            {% for global_secondary_index in current_table['GlobalSecondaryIndexes']
                                            %}
                                            <option value="{{ global_secondary_index['IndexName'] }}">{{
                                                global_secondary_index['IndexName'] }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" id="index-name" name="index_name">
                                    </div>

                                    <div class="col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Hash Key:</span>
                                            <input type="hidden" id="hash-key-field" name="hash_key_field">
                                            <input type="text" class="form-control" id="hash-key-value" name="hash_key"
                                                   placeholder="" required>
                                        </div>

                                        <div class="form-group">
                                            <span>Range Key:</span>
                                            <input type="hidden" id="range-key-field" name="range_key_field">
                                            <input type="text" class="form-control" id="range-key-value" name="range_key"
                                                   placeholder="">
                                        </div>
                                    </div>

                                    <div class="col-xs-1 col-sm-1">
                                        <button type="submit" class="btn btn-success"><i class="iconfont icon-querycondition"></i>查询</button>
                                    </div>
                                </form>
                                <div class="col-xs-1 col-sm-1">
                                    <form id="form_scan" action="/table/{{ table_name }}">
                                        <button type="submit" class="btn btn-default"><i class="iconfont icon-scan"></i>扫描 </button>
                                    </form>
                                </div>
                            </div>

                            <div class="row termminal">
                                <h4 class="terminal-label">自定义命令</h4>
                                <form method="POST">
                                    <div class="col-xs-10 col-sm-10">
                                        <input id="terminal-text" class="terminal-text" type="text" name="terminal_text"/>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                        <button type="submit" class="btn btn-success execute"><i
                                                class="iconfont icon-querycondition"></i>执行
                                        </button>
                                    </div>
                                </form>
                            </div>
                            {% block table %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#show" href="#console" aria-expanded="false" class="collapsed"><i
                                    class="iconfont icon-console"></i>控制台</a>
                        </h4>
                    </div>
                    <div id="console" class="panel-collapse collapse">
                        <div class="panel-body console">
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#show" href="#detail" aria-expanded="false" class="collapsed"><i
                                    class="iconfont icon-data"></i>详情</a>
                        </h4>
                    </div>
                    <div id="detail" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"><span>总数量:</span><strong>{{ count }}</strong></li>
                            {% if 'LatestStreamArn' in current_table %}
                            <li class="list-group-item"><span>LatestStreamArn:{{ current_table['LatestStreamArn'] }}</span></li>
                            {% endif %}
                            {% if 'LatestStreamLabel' in current_table %}
                            <li class="list-group-item"><span>LatestStreamLabel:{{ current_table['LatestStreamLabel'] }}</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
<script src="{{url_for('static', filename='js/socket.io-1.4.5.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("body").click(function (e) {
            if ($(e.target).hasClass("data-item")) {
                $target = $(e.target)
                show_popover($target)

            } else if ($(e.target).hasClass("data-item-val")) {
                $target = $(e.target).parent()
                show_popover($target)
            } else if ($(e.target).hasClass("edit-item")) {

            } else {
                $("#popover-panel").hide()
            }
        });

        $("#edit-item").blur(function () {
            var $tr = $target.parent('tr');
            var hash_key = $tr.attr("hash")
            var range_key = $tr.attr("range")
            update_value = $(this).val();
            $.ajax({
                url:'/update/',
                method: 'POST',
                data: {
                    hash_key_field:$("#hash-key-field").val(),
                    range_key_field:$("#range-key-field").val(),
                    hash_key: hash_key,
                    range_key: range_key,
                    update_value: update_value,
                    update_field: $target.attr('title'),
                    table_name: '{{table_name}}'
                },
                success:function(){
                    $target.children('.data-item-val').text(update_value);
                    $.notify('<strong>Saved</strong>', {
                        type: 'info',
                        icon: 'glyphicon glyphicon-warning-sign',
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        },
                        icon_type: 'class'
                    });
                }
            });
        })

        var $target;

        function show_popover($target) {
            $target = $target;
            $("#edit-item").width(155).height(40).val($target.children(".data-item-val").text())

            var top = $target.offset().top;
            var left = $target.offset().left + 100;

            $("#popover-panel").show().css({
                top: top,
                left: left
            })
        }
        var table_keys = {};
        {% for key_schema in current_table['KeySchema'] %}
            table_keys['{{ key_schema['KeyType']}}'] = '{{ key_schema['AttributeName']}}'
        {% endfor %}


        $("#hash-key-field").val(table_keys['HASH'])
        $("#range-key-field").val(table_keys['RANGE'])

        $("#hash-key-value").attr('placeholder', table_keys['HASH'])
        $("#range-key-value").attr('placeholder', table_keys['RANGE'])

        var global_secondary_indexes = {}
        {% for global_secondary_index in current_table['GlobalSecondaryIndexes']%}
            var key_schemas = {}
            {% for key_schema in global_secondary_index['KeySchema'] %}
                key_schemas['{{ key_schema['KeyType']}}'] = '{{ key_schema['AttributeName']}}'
            {% endfor %}

            global_secondary_indexes['{{ global_secondary_index['IndexName'] }}'] = key_schemas
        {% endfor %}

        $("#index-selector").change(function(){
            if($(this).val() == 'table'){
                $("#hash-key-value").attr('placeholder', table_keys['HASH'])
                $("#range-key-value").attr('placeholder', table_keys['RANGE'])
                $("#hash-key-field").val(table_keys['HASH'])
                $("#ranve-key-field").val(table_keys['RANGE'])
            } else {
                global_secondary_index = global_secondary_indexes[$(this).val()];
                $("#hash-key-value").attr('placeholder', global_secondary_index['HASH'])
                $("#range-key-value").attr('placeholder', global_secondary_index['RANGE'])
                $("#hash-key-field").val(global_secondary_index['HASH'])
                $("#ranve-key-field").val(global_secondary_index['RANGE'])
            }

            $("#index-name").val($(this).val())
        });
//        var socket = io();
//        socket.on('connect', function() {
//            socket.emit('link', {data: 'I\'m connected!'});
//        });
    })

</script>
{% block inner_javascript %}{% endblock %}
{% endblock %}